.main {
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.progress {
    width: 200px;
    margin: 0 auto;
    height: 20px;
    border: 1px solid #000;
}

.progress div {
    background-color: red;
    height: 20px;
}

.btnGroup {
    margin: 0 auto;
}

.change,
.reset {
    width: 100px;
    height: 40px;
}

.changeColor {
    background-color: green;
}
